body{
    background-image: linear-gradient(to right, rgb(255, 227, 65), rgb(255, 145, 0), red);

}

.main {
    position: relative;
    display: flex;
    height: 350px;
    width: 680px;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 30px;
    background-color: white;
    padding-left: 230px;
    padding-top: 70px;
    padding-bottom: 81px;
    box-shadow: rgba(0, 0, 0, 0.35) 7px 7px 17px;
  }

    
  .main .main2 {
    position: absolute;
    height: 380px;
    width: 320px;
    background-image: linear-gradient( orange, red);
    top: 60px;
    left: -130px;
    border-radius: 25px;
    box-shadow: rgba(145, 145, 145, 0.35) 0px 5px 15px;
  }
  
  
  .main .text {
    padding-top: 30px;
    width: 560px;
    padding-left: 25px;

  }

  .main .text .about{
    color: gray;
  }

  .main .text .data{
    color: gray;
  }
  
  .main .text button {
    height: 47px;
    width: 142px;
    margin-top: 18px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient( orange, red);
    font-size: 18px;
    border: none;
  }
  .main .text button:hover {
    transform: scale(1.5);
    transition: all 0.7s;
  }
  
  .main .slider {
    position: absolute;
    top: 210px;
    padding-left: 35px;
 
  }
  
  .main .slider .slider1 {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: gray;
  }
  
  .main .slider .slider2 {
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 9px;
    height: 45px;
    width: 13px;
    background-color: orangered;
  }
  
  .main .slider .slider3 {
    border-radius: 50%;
    height: 13px;
    width: 13px;
    background-color: gray;
  }


  